/* stylelint-disable docusaurus/copyright-header */

/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.bannerImage {
  width: 500px;
  @media (max-width: 991px) {
    display: none;
  }
}

.useCaseBox {
  img {
    max-height: 10em;
  }
  padding: 1em !important;
}

.featureBox {
  padding: 2em !important;
}

.socialBox {
  img {
    display: inline-block;
    position: relative;
    margin-bottom: 11px;
    border-radius: 50%;
    overflow: hidden;
    max-width: 60px;
  }
  
  h4 {
    font-size: 12px;
    font-weight: bold;
    text-align: left;
    line-height: 1px;
    font-family: 'Euclidsquare webs',sans-serif;
  }
  
  p {
    font-size: 12px;
    margin-top: 0;
    margin-bottom: 2;
    text-align: left;
    color: inherit;
    font-weight: normal;
    text-decoration: none;
    outline: 0 none;
  }
  padding: 3em !important;
}

.numberBox {
  padding: 2em !important;
  border: 3px solid black;
  margin: 20px;
  border-radius: 15px;
  box-shadow: 5px 5px;
}

